<div class="body">
  <div class="heading"> Elections Night</div>
  <div>

      <input type="file" class="file-upload" (change)="upload($event)">

  </div>

  <div class="result" *ngIf="success">File has been uploaded successfully.</div>
  <div class="result" *ngIf="fail">{{message}}</div>
</div>
