.body {
  background-color: black;
  text-align : top;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  overflow:auto;
}
.heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding: 20px 50px 100px 50px;
}
.file-upload {
  padding: 20px 50px 100px 50px;
  color: white;
}
.result {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 20px 50px 100px 50px;
}
