.body {
  background-color: black;
  text-align : top;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  overflow:auto;
}
.heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding: 20px 50px 100px 50px;
}
.button-div {
    padding: 50px;
}
.button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: black;
  padding: 10px;
}
.result {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 20px 50px 100px 50px;
}
.each-result{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 20px;
  border: solid;
  padding: 20px 50px 50px 50px;
}
.constit {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  padding: 15px ;
}
.win{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: wheat;
  float: right;
}
.votes-per {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 10px 10px 20px 10px;
}
.votes-party {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 5px ;
}
