<div class="body">
  <div class="heading"> Elections Night</div>
  <div class="button-div">
    <button class="button" (click)="displaySummary()">Show Constituency API Results</button>
    &nbsp&nbsp&nbsp
    <button class="button" (click)="displayPartySummary()">Show Total API Results</button>
  </div>

<div class="result" *ngIf="showConstResult">
  <div class="result" *ngFor="let item of constResult">
    <div class="each-result">
      <div class="constit">{{item.constituency}}</div>
      <div class="win">Winner is {{item.winner}}</div>
      <div class="votes-per">Votes : {{item.votesPercentage}} % </div>
      <div class="votes-party" *ngFor="let p of item.party">
        <div>{{p.partyName}} - {{p.votes}} votes </div>
      </div>
    </div>
  </div>
</div>
  <div class="result" *ngIf="failC">{{constResultMessage}}</div>


  <div class="result" *ngIf="showPartyResult">
    <div class="result" *ngFor="let item of partyResult">
      <div class="each-result">
        <div class="win">{{item.partyName}}</div>
        <div class="votes-per">Total Votes : {{item.totalVotes}}</div>
        <div class="votes-per">MP Seats : {{item.totalMPs}}</div>

      </div>
    </div>
  </div>

  <div class="result" *ngIf="failP">{{partyResultMessage}}</div>

</div>
